@charset "UTF-8";
/*!
 * Login Intranet
 * Author: Maicolm Rivera 03/11-2017
 * ================================*/
.enlaces_interes {
	color: #038bd5;
	text-decoration: none;
	cursor: pointer;
}
.hr_enlaces {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #C0C0C0;
}
.panel-body_enlaces {
	padding: 5px;
	padding-left: 1px;
}
h5, .h5 {
    font-size: 14px;
	color:#056AB6;
}


.btn_file {
  /*border-radius: 8px;
  font-size: 14px;*/
  /*border:2px solid #B6FAC0;*/
  /*padding:10px;
  color:#004080;*/
  	text-decoration:underline;
}

.btn_file:hover {
	text-decoration:underline;
}


UL.filetree A:hover {
    cursor: pointer;
}


table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc {
	background : none;
}

/*table.dataTable thead th.sorting:after {
	content: "\f0dc";
	color: #ddd;
	font-size: 0.8em;
	padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
	content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
	content: "\f0dd";
}*/